<% layout('boilerplate') -%>
<style>
  .docs {
    width: 100%;
    height: 100%;
    padding: 20px;
  }

  .docs__header {
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
  }

  .docs__logo {
    object-fit: contain;
    width: 12rem;
    flex: 1;
  }

  .docs__refs {
    margin-top: 2rem;
    display: flex;
    word-wrap: break-word;
    flex-direction: column;
  }

  .ref__container {
    display: flex;
    justify-content: space-between;
  }

  .ref__body {
    margin: 15px;
  }

  .ref__body > h3 {
    margin-bottom: 5px;
    text-decoration: underline;
  }

  .ref__body > h3 > .icons {
    display: none;
  }

  .ref__body > h3:hover > .icons {
    display: inline-block;
  }

  .ref__body > ul {
    margin-left: 2rem;
  }

  .ref__body li {
    font-weight: 100 !important;
    font-size: smaller;
  }

  .ref__body > ul ul > li {
    margin-left: 1rem;
  }

  @media (max-width: 635px) {
    .docs__logo {
      display: none;
    }

    .docs__refs {
      margin-top: 2rem;
    }

    .ref__body {
      margin: 0;
    }
  }
</style>

<div class="docs">
  <div class="docs__header">
    <h1><%= title %></h1>
  </div>

  <div class="docs__refs">
    <div class="ref__container">
      <div class="ref__body">
        <h3>Welcome <i class="fas fa-paperclip icons"></i></h3>
        <p>
          Welcome to my API Referances. This platform is to provide API to many
          projects. You can create your own API by Forking this Github Repo and
          Make a PULL REQUEST. And It has to be Private acesss. To get Your Key,
          you need send a mail to get you access key. Before creating your API
          Read <a href="#createApi">Creating a API</a>
        </p>
      </div>
      <img src="/images/docsSvg.svg" alt="doc svg" class="docs__logo" />
    </div>
    <br />

    <div class="ref__container">
      <div class="ref__body">
        <h3>API <i class="fas fa-paperclip icons"></i></h3>
        <p>
          &nbsp;&nbsp; view
          <a href="/api">API's</a>
          lists.
        </p>
      </div>
    </div>
    <br />

    <div class="ref__container">
      <div class="ref__body">
        <h3 id="createApi">
          Creating a API <i class="fas fa-paperclip icons"></i>
        </h3>
        <ul>
          <li>We Use MVC modelling pattern.</li>
          <li>You can send a mail to get your access key.</li>
          <li>
            Your API shuold follow the
            <a href="#fileStructure">File Structure</a>
          </li>
          <li>Response will be sent as JSON.</li>
          <li>
            Requests must be sent with <strong>apiKey</strong> as a query.
          </li>
          <li>There is no <strong>PUBLIC</strong> Access.</li>
        </ul>
        <br />
        <h3 id="fileStructure">
          File Structure <i class="fas fa-paperclip icons"></i>
        </h3>
        <h5>
          *You Should have any <strong>conflicts</strong> with the
          <strong>master</strong> Branch
        </h5>
        <h5>*Every projects must have a separate Git Branch.</h5>
        <h5>
          *Your pull requests will be reviewed to have this file Structures. If
          not it will not be accepted.
        </h5>
        <ul>
          <li>/root</li>
          <ul>
            <li>
              /controllers/< PROJECT_FOLDER_NAME>/ -- inside here you file for
              controllers
            </li>
            <li>
              /models/< PROJECT_FOLDER_NAME>/ -- inside here you file for models
              and you DB a prefix W/ your project name
            </li>
            <li>
              /routes/< PROJECT_FOLDER_NAME>/ -- inside here you file for routes
            </li>
            <li>
              /views/< PROJECT_FOLDER_NAME>/ -- inside here you have to create a
              file as API Referances
            </li>
            <li>
              In app.js your route should be prefix W/ /api/v1/<
              YOUR_PROJECT_NAME>, following you routes
            </li>
          </ul>
        </ul>
      </div>
      <img src="/images/cloudDocs.svg" alt="doc svg" class="docs__logo" />
    </div>
    <br />

    <div class="ref__container">
      <div class="ref__body">
        <h3>Contributings <i class="fas fa-paperclip icons"></i></h3>
        <p>
          Pull requests are welcome. For major changes, please open an issue
          first to discuss what you would like to change.
        </p>
      </div>
    </div>
    <br />

    <div class="ref__container">
      <div class="ref__body">
        <h3>License <i class="fas fa-paperclip icons"></i></h3>
        <a href="https://choosealicense.com/licenses/mit/">MIT</a>
      </div>
    </div>
  </div>
</div>
