<% layout('boilerplate') -%>
<style>
  .home {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .home__title {
    font-size: 4rem;
  }

  .home__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
  }

  .home__logo {
    object-fit: contain;
    width: 18rem;
  }

  .home__link {
    margin-top: 1.2rem;
  }

  @media (max-width: 465px) {
    .home__logo {
      display: none;
    }

    .home__title {
      margin-bottom: 2rem;
    }
  }
</style>

<div class="home">
  <div class="home__header">
    <img src="/images/logo1.svg" alt="react logo" class="home__logo" />
    <h1 class="home__title">My API's</h1>
    <img src="/images/logo2.svg" alt="gatsby logo" class="home__logo" />
  </div>
  <p class="home__desc">Welcome to My API's</p>
  <a href="/docs" class="home__link">Visit API Reference</a>
</div>
