<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Url Shortener</title>
  </head>
  <body>
    <form id="urlShortener_form">
      <input type="text" placeholder="URL" id="urlShortener_url" />
      <input type="text" placeholder="Slug" id="urlShortener_slug" hidden />
      <button type="submit" id="urlShortener_btn">Create!</button>
    </form>

    <div id="urlshortener_markdown"></div>
  </body>

  <script>
    const urlShortenerBtn = document.querySelector('#urlShortener_btn');
    const urlShortenerUrl = document.querySelector('#urlShortener_url');
    const urlShortenerSlug = document.querySelector('#urlShortener_slug');
    const urlshortenerMarkdown = document.querySelector(
      '#urlshortener_markdown'
    );

    let markdown;
    let data;

    urlShortenerBtn.addEventListener('click', (e) => {
      console.log(urlShortenerUrl.value);
      e.preventDefault();
      if (urlShortenerSlug.value === '') {
        data = {
          url: urlShortenerUrl.value,
        };
      } else {
        data = {
          url: urlShortenerUrl.value,
          slug: urlShortenerSlug.value,
        };
      }
      fetch('/api/v1/urlshortener/', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(data),
      })
        .then((apiData) => apiData.json())
        .then((res) => {
          if (res.success) {
            markdown = `
            <h2>Original URL: <a href="${res.url.original_url}">${res.url.original_url}</a></h2>
            <h2>Slug: <a href="/api/vi/urlshortener/${res.url.slug}">${res.url.slug}</a></h2>
            `;
            urlshortenerMarkdown.innerHTML = markdown;
          } else {
            alert('Something went Wrong!');
          }
        })
        .catch((e) => alert(e.message));
    });
  </script>
</html>
